.mobile-looks{
    background-color:  #d69146;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo img {
width: 130px;
height: 130px;

margin-top: 30px ;
    }
     .list-pic img {
        width: 98vw;
        height: 620px;

    }
}